<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的矿机</title>
</head>
<body>
<table>
    <tr><th>矿机名称</th><th>矿机类型</th><th>剩余天数</th><th>总收益</th><th>日收益</th><th>状态</th><th>购买时间</th></tr>
    {if condition="isset($myMills)"}
    {foreach $myMills as $v }
    <tr><td>{$v.title}</td><td>{$v.name}</td><td>{$v.days_remaining}</td><td></td><td></td><td>
        {if condition="$v.status==1"}运行{else /}失效}{/if}
    </td><td>{$v.create_time|date="Y-m-d H:i:s",###}</td></tr>
    {/foreach}
    {/if}
</table>
</body>
</html>