{extend name="inc/base"}
{block name="content"}
<!--  Main Banner Start Here-->
<div class="main-banner banner_up">
	<div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34">
		<!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
		<div id="rev_slider_34_1" class="rev_slider" data-version="5.0.7">
			<ul>
				<!-- SLIDE  -->
				<li data-index="rs-129">
					<!-- MAIN IMAGE -->
					<img src="__STATIC__/garden/assets/images/eint/slider1.jpg" alt="" class="rev-slidebg">
					<!-- LAYERS -->
					<!-- LAYER NR. 2 -->
					<div class="tp-caption Newspaper-Title tp-resizeme " id="slide-129-layer-1" data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
						data-y="['top','top','top','center']" data-voffset="['165','135','105','0']" data-fontsize="['50','50','50','30']"
						data-lineheight="['55','55','55','35']" data-width="['600','600','600','420']" data-height="none" data-whitespace="normal"
						data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
						data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
						<div class="banner-text">
							<h2>崟特币</h2>
							<h2>
								<span> 创造新能源</span> 共享时代</h2>
							<a class="btn-text" href="/index/about.html"> read more</a>
						</div>
					</div>
				</li>
				<!-- SLIDE  -->
				<li data-index="rs-130" data-title="" data-description="">
					<!-- MAIN IMAGE -->
					<img src="__STATIC__/garden/assets/images/eint/slider2.jpg" alt="" class="rev-slidebg">
					<!-- LAYERS -->
					<!-- LAYER NR. 2 -->
					<div class="tp-caption Newspaper-Title   tp-resizeme " id="slide-130-layer-1" data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
						data-y="['top','top','top','center']" data-voffset="['165','135','105','0']" data-fontsize="['50','50','50','30']"
						data-lineheight="['55','55','55','35']" data-width="['600','600','600','420']" data-height="none" data-whitespace="normal"
						data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
						data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
						<div class="banner-text">
							<h2>
								<span>财富共聚</span> 崟特币
								<span>，</span>
							</h2>
							<h2>
								<span>带你开启</span> 财富之旅</h2>
							<a class="btn-text" href="/index/invest.html"> read more</a>
						</div>
					</div>
				</li>
				<!-- SLIDE  -->
				<li data-index="rs-131">
					<!-- MAIN IMAGE -->
					<img src="__STATIC__/garden/assets/images/eint/slider3.jpg" alt="" class="rev-slidebg ">
					<!-- LAYERS -->
					<!-- LAYER NR. 2 -->
					<div class="tp-caption Newspaper-Title   tp-resizeme " id="slide-131-layer-1" data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
						data-y="['top','top','top','center']" data-voffset="['165','135','105','0']" data-fontsize="['50','50','50','30']"
						data-lineheight="['55','55','55','35']" data-width="['600','600','600','420']" data-height="none" data-whitespace="normal"
						data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
						data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
						data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
						<div class="banner-text">
							<h2>
								<span>城市</span> 璀璨
								<span>，</span>
							</h2>
							<h2>
								<span>尽在</span> 崟特币</h2>
							<a class="btn-text" href="/index/news.html"> read more</a>
						</div>
					</div>
				</li>
				<!-- SLIDE  -->
			</ul>
			<div class="tp-bannertimer tp-bottom"></div>
		</div>
	</div>
</div>
<!--  Main Banner End Here-->

<!-- about_compney -->
<section id="about_us" class="padding ptb-xs-40 gray-bg">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-md-12 col-lg-7 about-left">

				<div class="sec_hedding">
					<h2>
						<span>关于 </span>我们</h2>
					<span class="b-line l-left"></span>
				</div>
				<p>
					能源领域的变革，从微电网开始，通过区块链整合当地区域的分布式能源系统，极大地提高能源利用率和供电可靠性。伴随区块链的技术的日渐成熟，以崟特币为代表的能源货币应用而生。崟特币的出现，也间接性的表明了区块链与新能源结合是未来市场的必要趋势。
				</p>
				<div class="row mt-30">
					<div class="col-lg-4 col-md-4 process mb-40">
						<div class="icon-lf float-left">
							<i class="ion-ios-paperplane-outline"></i>
						</div>
						<div class="right-txt float-right">
							<h3>发展</h3>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 process mb-40">
						<div class="icon-lf float-left">
							<i class="ion-ios-bolt-outline"></i>
						</div>
						<div class="right-txt float-right">
							<h3>安全</h3>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 process mb-40">
						<div class="icon-lf float-left">
							<i class="ion-ios-gear-outline"></i>
						</div>
						<div class="right-txt float-right">
							<h3>服务</h3>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-12 col-lg-5">
				<img src="__STATIC__/garden/assets/images/eint/about_us.jpg" class="repo-full" alt="">
			</div>

		</div>

	</div>
</section>
<!-- about_compney_End -->

<!-- Counter Section -->
<div class="fact-counter-wrapper padding ptb-xs-40">
	<div class="container text-center">
		<div class="row">
			<!-- <div class="col-lg-3 col-md-6">
				<div class="single-fact">
					<div class="icon-boxed">
						<i class="ion-ios-list"></i>
					</div>
					<span class="counter" data-count="3562">0</span>
					<p>
						项目总数
					</p>
				</div>
			</div> -->
			<div class="col-lg-4 col-md-4">
				<div class="single-fact">
					<div class="icon-boxed">
						<i class="ion-happy"></i>
					</div>
					<span class="counter" data-count="5612">0</span>
					<p>
						快乐的客户
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4mt-xs-30">
				<div class="single-fact">
					<div class="icon-boxed">
						<i class="ion-person-stalker"></i>
					</div>
					<span class="counter" data-count="3258">0</span>
					<p>
						活跃客户
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mt-sm-30 mt-xs-30">
				<div class="single-fact">
					<div class="icon-boxed">
						<i class="ion-trophy"></i>
					</div>
					<span class="counter" data-count="89">0</span>
					<p>
						获奖
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Counter Section End-->

<!-- Service -->
{include file="../application/index/view/inc/products.html"}
<!-- Service_End -->

<!-- Why_Choose -->
<section class="we-best">
	<div class="choose_section d-flex justify-content-end">
		<div class="left-block bg_overlay">
			<div class="block_box light-color">
				<div class="heading_block">
					<h2>
						<span>为什么</span> 选择</h2>
					<span class="b-line l-left"></span>
				</div>

				<ul>
					<li>
						<i class="ion-thumbsup icon-circle"></i>
						<strong>未来趋势</strong>
						<p>
							随着常规能源的有限性以及环境问题的日益突出，以环保和可再生为特质的新能源越来越得到各国的重视。
						</p>
					</li>
					<li>
						<i class="ion-clipboard icon-circle"></i>
						<strong>安全保障</strong>
						<p>
								区块链技术的日渐成熟，客户的隐私数据也得到了极力到保障，保护个人隐私、检查数据真实性，确保数据交易的合法性
						</p>
					</li>
					<li>
						<i class="ion-android-wifi icon-circle"></i>
						<strong> 优质的服务</strong>
						<p>
								我们提供在线解答，确保您的问题能够一一解决
						</p>
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>
<!-- Why_Choose_End -->

<!-- Team -->
<section class="team_section gray-bg padding ptb-xs-40">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-8 offset-md-2 mb-30">
				<div class="sec_hedding pb-15">
					<h2>
						<span>我们的</span> 专家</h2>
					<span class="b-line"></span>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
					Lorem Ipsum is simply dummy industry.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-6 mb-30">
				<div class="grid">
					<figure class="effect-terry">
						<img src="__STATIC__/garden/assets/images/eint/team1.jpg" alt="img03">
					</figure>
					<div class="lower-content">
						<h3>
							<a href="#">Scott Briggs</a>
						</h3>
						<div class="designation">
							Founder
						</div>
						<div class="text">
							<p>
								Mirum est notare quam littera gothica, quam putamus
							</p>
						</div>
					</div>

				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-30">
				<div class="grid">
					<figure class="effect-terry">
						<img src="__STATIC__/garden/assets/images/eint/team2.jpg" alt="img03">
					</figure>
					<div class="lower-content">
						<h3>
							<a href="#">Scott Briggs</a>
						</h3>
						<div class="designation">
							Founder
						</div>
						<div class="text">
							<p>
								Mirum est notare quam littera gothica, quam putamus
							</p>
						</div>
					</div>

				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-xs-30">
				<div class="grid">
					<figure class="effect-terry">
						<img src="__STATIC__/garden/assets/images/eint/team3.jpg" alt="img03">
					</figure>
					<div class="lower-content">
						<h3>
							<a href="#">Scott Briggs</a>
						</h3>
						<div class="designation">
							Founder
						</div>
						<div class="text">
							<p>
								Mirum est notare quam littera gothica, quam putamus
							</p>
						</div>
					</div>

				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="grid">
					<figure class="effect-terry">
						<img src="__STATIC__/garden/assets/images/eint/team4.jpg" alt="img03">
					</figure>
					<div class="lower-content">
						<h3>
							<a href="#">Scott Briggs</a>
						</h3>
						<div class="designation">
							Founder
						</div>
						<div class="text">
							<p>
								Mirum est notare quam littera gothica, quam putamus
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

</section>
<!-- Team_End -->

<!--Testimonial-->
<section class="testimonial-block__section padding ptb-xs-40">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-8 offset-md-2 mb-30">
				<div class="sec_hedding pb-15">
					<h2>
						<span>我们的</span> 见证</h2>
					<span class="b-line"></span>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
					Lorem Ipsum is simply dummy industry.

				</p>
			</div>
		</div>

		<div class="row">

			<div class="col-md-12">
				<div id="testimonial" class="nf-carousel-theme nf-carousel-arrow">
					<div class="testimonial-box">
						<div class="row">
							<div class="col-sm-5">
								<img src="__STATIC__/garden/assets/images/quote-author2.jpg" alt="">
							</div>
							<div class="col-sm-7">
								<div class="quote-box">
									<div class="quote-icon quote-left">
										<i class="fa fa-quote-left" aria-hidden="true"></i>
									</div>
									<div class="quote-text">
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply Lorem Ipsum has been the
											industry's standard dummy.
										</p>
									</div>
									<div class="quote-icon quote-right">
										<i class="fa fa-quote-right" aria-hidden="true"></i>
										<strong class="quote-author">John Smith, Eng.</strong>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="testimonial-box">
						<div class="row">
							<div class="col-sm-5">
								<img src="__STATIC__/garden/assets/images/quote-author.jpg" alt="">
							</div>
							<div class="col-sm-7">
								<div class="quote-box">
									<div class="quote-icon quote-left">
										<i class="fa fa-quote-left" aria-hidden="true"></i>
									</div>
									<div class="quote-text">
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply Lorem Ipsum has been the
											industry's standard dummy.
										</p>
									</div>
									<div class="quote-icon quote-right">
										<i class="fa fa-quote-right" aria-hidden="true"></i>
										<strong class="quote-author">John Smith, Eng.</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End Testimonial-->

<!-- Blog -->
<div id="blog-section" class="padding ptb-xs-40 gray-bg">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-8 offset-md-2 mb-30">
				<div class="sec_hedding pb-15">
					<h2>
						<span>我们的</span> 新闻</h2>
					<span class="b-line"></span>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
					Lorem Ipsum is simply dummy industry.

				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 mb-xs-30 mb-sm-30">
				<div class="blog-post img-scale">
					<div class="post-media">
						<img src="__STATIC__/garden/assets/images/blog/home_blog1.jpg" class="img-responsive" alt="">
						<span class="event-calender blog-date"> 21
							<span>june</span>
						</span>
					</div>
					<div class="post-header">
						<h4>
							<a href="blog-detail.html">How to find best garden tools?</a>
						</h4>
					</div>
					<div class="post-entry">
						<p>
							Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium dantiumeaque ipsa quae ab illos Perspiciatis unde omnis
							iste natus doxes
						</p>
					</div>
					<div class="post-more-link pull-left">
						<a href="blog-detail.html" class="btn-text">Read More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-xs-30 mb-sm-30">
				<div class="blog-post img-scale">
					<div class="post-media">
						<img src="__STATIC__/garden/assets/images/blog/home_blog2.jpg" class="img-responsive" alt="">
						<span class="event-calender blog-date"> 08
							<span>june</span>
						</span>
					</div>
					<div class="post-header">
						<h4>
							<a href="blog-detail.html">How to find best garden tools?</a>
						</h4>
					</div>
					<div class="post-entry">
						<p>
							Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium dantiumeaque ipsa quae ab illos Perspiciatis unde omnis
							iste natus doxes
						</p>
					</div>
					<div class="post-more-link pull-left">
						<a href="blog-detail.html" class="btn-text ">Read More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="blog-post img-scale">
					<div class="post-media">
						<img src="__STATIC__/garden/assets/images/blog/home_blog3.jpg" class="img-responsive" alt="">
						<span class="event-calender blog-date"> 08
							<span>june</span>
						</span>
					</div>
					<div class="post-header">
						<h4>
							<a href="blog-detail.html">How to find best garden tools?</a>
						</h4>
					</div>
					<div class="post-entry">
						<p>
							Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium dantiumeaque ipsa quae ab illos Perspiciatis unde omnis
							iste natus doxes
						</p>
					</div>
					<div class="post-more-link pull-left">
						<a href="blog-detail.html" class="btn-text">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Blog_End -->
{/block}