{extend name="inc/base"}
{block name="content"}
<!-- Intro Section -->
<section class="inner-intro bg-img light-color overlay-before parallax-background">
  <div class="container">
    <div class="row title">
      <h1 data-title="About">
        <span>关于我们</span>
      </h1>
    </div>
  </div>
</section>
<!-- Intro Section -->
<!-- About Section -->
<div id="about-section" class="padding pt-xs-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading-box pb-30">
          <h2>
            <span>公司</span> 概况</h2>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pb-xs-30">
        <div class="text-content">
          <p>
            能源领域的变革，从微电网开始，通过区块链整合当地区域的分布式能源系统，极大地提高能源利用率和供电可靠性。伴随区块链的技术的日渐成熟，以崟特币为代表的能源货币应用而生。崟特币的出现，也间接性的表明了区块链与新能源结合是未来市场的必要趋势。
          </p>
        </div>
        <h4>Our smart approach</h4>
        <ul class="list">
          <li>
            <i class="ion-android-done-all text-color"> </i> Work fewer hours - and make more money
          </li>
          <li>
            <i class="ion-android-done-all text-color"> </i> Attract and retain quality, high customers
          </li>
          <li>
            <i class="ion-android-done-all text-color"> </i> Manage your time so get more done in less time
          </li>
          <li>
            <i class="ion-android-done-all text-color"> </i>Hone sharp leadership skills to manage
          </li>
          <li>
            <i class="ion-android-done-all text-color"> </i>Cut expenses without sacrificing quality
          </li>
          <li>
            <i class="ion-android-done-all text-color"> </i> Sed ut perspiciatis unde omnis iste natus error sit
          </li>
        </ul>

      </div>
      <div class="col-lg-6">
        <img class="img-responsive" src="__STATIC__/garden/assets/images/eint/people2.jpg" alt="Photo">
      </div>

    </div>

  </div>
</div>
<!-- About Section End-->
<!-- Our History -->
<div id="history-section" class="padding ptb-xs-60 gray-bg">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12">
        <div class="heading-box pb-30 text-center">
          <h2>
            <span>我们的</span> 优势</h2>

        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <!-- <div class="history-block nf-carousel-theme arrow_theme"> -->
          
    <div class="row">
          <div class="col-sm-4">
          <div class="history-box">
            <span class="history_date bg-color">发展</span>
            <img src="__STATIC__/garden/assets/images/eint/2-1.jpg" alt="" />
            随着常规能源的有限性以及环境问题的日益突出，以环保和可再生为特质的新能源越来越得到各国的重视。
          </div>
          </div>
          <div class="col-sm-4">
          <div class="history-box">
            <span class="history_date bg-color">安全</span>
            <img src="__STATIC__/garden/assets/images/eint/2-2.jpg" alt="" />
            <p>
              区块链技术的日渐成熟，客户的隐私数据也得到了极力到保障，保护个人隐私、检查数据真实性，确保数据交易的合法性
            </p>
          </div>
          </div>
          <div class="col-sm-4">
          <div class="history-box">
            <span class="history_date bg-color">服务</span>
            <img src="__STATIC__/garden/assets/images/eint/2-3.jpg" alt="" />
            <p>
              我们提供在线解答，确保您的问题能够一一解决
            </p>
          </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
    </div>
  </div>
</div>

<!-- Our History End-->

<!-- Mission Section -->
<div id="mission-section" class="padding ptb-xs-60 bg-color light-color">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 pb-xs-30">
        <div class="heading-box pb-15">
          <h2>
            <span>Our</span> Mission</h2>

        </div>
        <p>
          Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium dantiumeaque ipsa quae ab illos Perspiciatis unde omnis
          iste natus doxes sit voluptatem accusantium dantiumeaque ipsa quae ab illos
        </p>

      </div>

      <div class="col-sm-6">
        <div class="heading-box pb-15">
          <h2>
            <span>Our</span> Philosphy</h2>

        </div>
        <p>
          Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium dantiumeaque ipsa quae ab illos Perspiciatis unde omnis
          iste natus doxes sit voluptatem accusantium dantiumeaque ipsa quae ab illos
        </p>

      </div>
    </div>

  </div>
</div>
<!-- Testimonials -->
<!-- Testimonial -->
<section class="testimonial-section padding ptb-xs-60 ">
  <div class="container">
    <div class="row text-center pb-30">
      <div class="col-sm-12">
        <div class="heading-box text-center">
          <h2>
            <span>Our</span> Clients Says</h2>

        </div>

      </div>
    </div>
    <div class="row">

      <div class="carousel-slider nf-carousel-theme arrow_theme dark-color">
        <div class="item-block-box">
          <div class="testimonial-block gray-bg">
            <figure class="testimonial-img">
              <img class="img-circle img-border" src="__STATIC__/garden/assets/images/testimonial/1.jpg" alt="">
            </figure>
            <h3 class="testimonial-author">Selly Thomas</h3>
            <hr class="small-divider">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui.
            </p>
            <span class="star">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="item-block-box">
          <div class="testimonial-block gray-bg">
            <figure class="testimonial-img">
              <img class="img-circle img-border" src="__STATIC__/garden/assets/images/testimonial/2.jpg" alt="">
            </figure>
            <h3 class="testimonial-author writer">Jane Anselmo</h3>
            <hr class="small-divider">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui.
            </p>
            <span class="star">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="item-block-box">
          <div class="testimonial-block gray-bg">
            <figure class="testimonial-img">
              <img class="img-circle img-border" src="__STATIC__/garden/assets/images/testimonial/3.jpg" alt="">
            </figure>
            <h3 class="testimonial-author">Melisa Barry</h3>
            <hr class="small-divider">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui.
            </p>
            <span class="star">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial -->
{/block}