{extend name="public/index"}
{block name="content"}
<body class="layui-layout-body">
	我的矿机
	<div>
		<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>剩余天数</th>
      <th>总收益（币）</th>
      <th>今日收益</th>
      <th>状态</th>
      <th>购买时间</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td>001</td>
      <td>1号矿机</td>
      <td>20</td>
      <td>30</td>
      <td>1</td>
      <td>挖矿中</td>
      <td>2018-03-26</td>
    </tr>
    <tr>
      <td>002</td>
      <td>2号矿机</td>
      <td>20</td>
      <td>28</td>
      <td>2</td>
      <td>挖矿中</td>
      <td>2018-03-26</td>
    </tr>
    <tr>
      <td>003</td>
      <td>3号矿机</td>
      <td>20</td>
      <td>35</td>
      <td>3</td>
      <td>挖矿中</td>
      <td>2018-03-26</td>
    </tr>
    
  </tbody>
</table>
	</div>
<script src="../layui/layui.js"></script>
<script src="../layui/jquery-2.0.3.min.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  // alert(123123);
});
function display(url){
  htmlobj=$.ajax({url:url,async:false});
  $("#bord").html(htmlobj.responseText);
}
</script>
</body>
{/block}