{extend name="public/index"} {block name="content"}
<style>
	.alone-buy {
		text-align: center;
	}

	.text-warm {
		color: #FF5722;
	}

	.layui-text {
		padding: 20px;
		max-width: 282px;
	}
	.layui-layer-btn .layui-layer-btn0{
		border-color:#FFB800;
		background-color:#FFB800;
	}
	.layui-elem-field .layui-row {
		margin: 20px 30px 10px;
	}
	.layui-bg-white{
		background-color: white;
	}
</style>

<body class="layui-layout-body">
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		<legend>矿机商城</legend>
	</fieldset>
	<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-col-xs12">
			<fieldset class="layui-elem-field">
				<legend>一级矿机</legend>
				<div class="layui-row layui-col-space20" style="padding: 20px 10px;" id="kj1">
						<div class="layui-col-sm6 layui-col-md4 layui-col-lg4" v-for="kj in kjs1">
							<div class="layui-card">
								<div class="layui-card-body">
									<div class="layui-text">
										<img :src="kj.photo" alt="" width="150px" height="150px">
										<p>名&emsp;称：
											<span class="text-warm">{{kj.title}}</span>
										</p>
										<p>日产量：
											<span class="text-warm">{{kj.create_coin}}个币</span>
										</p>
										<p>时&emsp;间：
											<span class="text-warm">{{kj.create_time}}</span>
										</p>
										<p>描&emsp;述：
											<span class="text-warm">{{kj.remark}}</span>
										</p>
										<p>价&emsp;格：
											<span class="text-warm">￥{{kj.price}}</span>
										</p>
										<br>
									</div>
									<div class="alone-buy layui-btn-container">
										<button v-on:click="buy(kj.id);"data-type="auto" data-id="{{kj.id}}" class="layui-btn layui-btn-warm layui-btn-radius">立即购买</button>
									</div>
								</div>
							</div>
						</div>

					</div>
			</fieldset>
		</div>
		<div class="layui-col-xs12">
			<fieldset class="layui-elem-field">
				<legend>二级矿机</legend>
				<div class="layui-row layui-col-space20" style="padding: 20px 10px;" id="kj2">
						<div class="layui-col-sm6 layui-col-md4 layui-col-lg4" v-for="kj in kjs2">
							<div class="layui-card">
								<div class="layui-card-body">
									<div class="layui-text">
										<img :src="kj.photo" alt="" width="150px" height="150px">
										<p>名&emsp;称：
											<span class="text-warm">{{kj.title}}</span>
										</p>
										<p>日产量：
											<span class="text-warm">{{kj.create_coin}}个币</span>
										</p>
										<p>时&emsp;间：
											<span class="text-warm">{{kj.create_time}}</span>
										</p>
										<p>描&emsp;述：
											<span class="text-warm">{{kj.remark}}</span>
										</p>
										<p>价&emsp;格：
											<span class="text-warm">￥{{kj.price}}</span>
										</p>
										<br>
									</div>
									<div class="alone-buy layui-btn-container">
										<button data-type="auto" data-id="{{kj.id}}" class="layui-btn layui-btn-warm layui-btn-radius">立即购买</button>
									</div>
								</div>
							</div>
						</div>

					</div>
			</fieldset>
		</div>
		<div class="layui-col-xs12">
			<fieldset class="layui-elem-field">
				<legend>三级矿机</legend>
				<div class="layui-row layui-col-space20" style="padding: 20px 10px;" id="kj3">
				</div>
			</fieldset>
		</div>
		<div class="layui-col-xs12">
			<fieldset class="layui-elem-field">
				<legend>四级矿机</legend>
				<div class="layui-row layui-col-space20" style="padding: 20px 10px;" id="kj4">
				</div>
			</fieldset>
		</div>
		<div class="layui-col-xs12">
			<fieldset class="layui-elem-field">
				<legend>五级矿机</legend>
				<div class="layui-row layui-col-space20" style="padding: 20px 10px;" id="kj5">
				</div>
			</fieldset>
		</div>
		<div class="layui-col-xs12">
			<fieldset class="layui-elem-field">
				<legend>六级矿机</legend>
				<div class="layui-row layui-col-space20" style="padding: 20px 10px;" id="kj6">
				</div>
			</fieldset>
		</div>
	</div>
</div>

	<!-- <script src="../layui/layui.js"></script> -->
	<!-- <script src="../layui/jquery-2.0.3.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script>
		//JavaScript代码区域
		layui.use('element', function() {
			var element = layui.element;
			// alert(123123);
		});
		layui.use('layer', function(){
		//	var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
			//触发事件
			var othis = $(this)
			var type = othis.data('type'),text = othis.text();
			$('.alone-buy .layui-btn').on('click', function(){
				// layer.open({
				// 	type: 1
				// 	,offset: type
				// 	,title: '交易密码'
				// 	//,id: 'kj'+wid //防止重复弹出
				// 	,content: '<div class="layui-layer-pwd"><input type="text" name="kj_pwd" autocomplete="off" class="layui-input"></div>'
				// 	,scrollbar: false
				// 	,btn: '确认'
				// 	,btnAlign: 'c' //按钮居中
				// 	,shade: 0 //不显示遮罩
				// 	,yes: function(){
				// 		console.log('点击成功');
				// 		layer.closeAll();
				// 	}
				// });
			});
		});


		$.ajax({
			async: false,
			type: "GET",
			url: "http://www.eintcoin.com/Index/mills/index",
			data: {
				// oldPassword: document.form.oldpassword.value,
				// newPassword: document.form.password2.value
			},
			dataType: "json",
			async: false,
			success: function(data) {
				console.log(data);
				// alert(data.length);
				var kj1 = new Vue({
					el: '#kj1',
					data: {
						kjs1: data
					},
					methods: {
						buy: function(kj_id) {
							$.ajax({
								async: false,
								type: "POST",
								url: "http://www.eintcoin.com/Index/mills/buy",
								data: {
									// oldPassword: document.form.oldpassword.value,
									mills_id: kj_id
								},
								dataType: "json",
								async: false,
								success: function(data) {
									if(data==1){
										alert('购买成功');
									}else if (data==2) {
										alert('购买失败');
									}else {
										alert('余额不足');
									}
								},
								error: function(err) {
									console.log(err);
								}
							});
							// layer.open({
							// 	type: 2,
							// 	area: ['600px', '600px'],
							// 	fixed: false, //不固定
							// 	maxmin: true,
							// 	// content: ['http://www.eintcoin.com/demo.php','no']
							// 	content: ['{:url("info/mai_lianxi")}?id=' + sell_id + '&order_id=' + order_id + '&number=' + number + '&price=' + price, 'no']
							// });
						}
					}
				})
				var kj2 = new Vue({
					el: '#kj2',
					data: {
						kjs2: data
					}
				})
			},
			error: function(err) {
				console.log(err);
			}
		});

		function display(url) {
			htmlobj = $.ajax({
				url: url,
				async: false
			});
			$("#bord").html(htmlobj.responseText);
		}
	</script>
</body>
{/block}
