<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>确认</title>
    <link rel="stylesheet" href="__STATIC__/index/layui/css/layui.css">
    <script src="__STATIC__/index/layui/layui.js"></script>
    <script src="__STATIC__/index/layui/jquery-2.0.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="__STATIC__/index/layer/layer.js"></script>
</head>

<body>
    <div class="layui-layer-userinfo">
        <table class="layui-table" lay-skin="line" id="sell_info">
            <tbody>
                <tr>
                    <td>对方账号</td>
                    <td>{{info.data.account}}</td>
                </tr>
                <tr>
                    <td>联系方式</td>
                    <td>{{info.data.mobile}}</td>
                </tr>
                <tr>
                    <td>常用QQ/微信</td>
                    <td>{{info.data.qq}}/{{info.data.wechat}}</td>
                </tr>

            </tbody>
        </table>
        <p>（请您及时联系该用户，尽快完成交易）</p>
        <button class="layui-btn">已联系</button>
    </div>
    <div id="pay_pic" style="display:none;">
        上传支付凭证图片
        <form id="form1" action="http://www.eintcoin.com/api/order/uploadPayImgPc" method="post" enctype="multipart/form-data">
            <input type="file" name="payImg" />
            <input type="submit" name="Submit" onclick="zhifu();" value="确认支付"/>
        </form>
    </div>
    <!-- <button class="layui-btn" onclick="uppic();">上传</button> -->
    <script>
        $.ajax({
            async: false,
            type: "POST",
            url: "http://www.eintcoin.com/api/order/sell_info",
            data: {
                // oldPassword: document.form.oldpassword.value,
                order_id: <?php echo 2; ?>
            },
            dataType: "json",
            async: false,
            success: function(data) {
                console.log(data);
                // alert(data.length);
                //
                var mai1 = new Vue({
                    el: '#sell_info',
                    data: {
                        info: data
                    }
                });
            },
            error: function(err) {
                console.log(err);
            }
        });
        $('.layui-btn').on('click', function() {
            document.getElementById("pay_pic").style.display = "block";
            // layer.closeAll(); //疯狂模式，关闭所有层

        });
    </script>
    <script>
        function zhifu() {
          $.ajax({
          	async: false,
          	type: "POST",
          	url: "http://www.eintcoin.com/api/order/buy_coin",
          	data: {
          		order_id:<?php echo $_GET['order_id']; ?>
          	},
          	dataType: "json",
          	async: false,
          	success: function(data) {
              layer.msg("订单提交成功");
              console.log(data);
          		// var order = new Vue({
          		// 	el: '#order1',
          		// 	data: {
          		// 		orders: data.data
          		// 	}
          		// })
          	},
          	error: function(err) {
              // alert(2222222222222);
          		console.log(err);
          	}
          });
        }
    </script>
</body>

</html>
