<section class="padding ptb-xs-40 overflow_hidden gray-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 offset-md-2 mb-30">
        <div class="sec_hedding pb-15">
          <h2>
            <span>产品</span> 介绍</h2>
          <span class="b-line"></span>
        </div>
        <p>
          崟特币的产生主要是由能源矿机每天工作生产动力所对应的价值，能源矿机是崟特币的基础。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="service_box hi-icon-effect-3 hi-icon-effect-3b">
          <div class="service_icon">

            <i class="hi-icon flaticon-black"></i>
          </div>
          <div class="service_details">
            <h5 class="font-color_base no_stripe">
              <a href="#">迷你云矿机</a>
            </h5>
          </div>
          <div class="service_content">
            <p>
              迷你云矿机，租用需要10枚崟特币，挖矿时间720小时，产量为11枚崟特币，算力1GH/s
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-xs-30">
        <div class="service_box hi-icon-effect-3 hi-icon-effect-3b">
          <div class="service_icon">

            <i class="hi-icon flaticon-people"></i>
          </div>
          <div class="service_details">
            <h5 class="font-color_base no_stripe">
              <a href="#">小型云矿机 </a>
            </h5>
          </div>
          <div class="service_content">
            <p>
              小型云矿机,租用需要100枚崟特币，挖矿时间720小时，产量为120枚崟特币，算力10GH/s
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-sm-30 mb-xs-30">
        <div class="service_box hi-icon-effect-3 hi-icon-effect-3b">
          <div class="service_icon">

            <i class="hi-icon flaticon-nature-1"></i>
          </div>
          <div class="service_details">
            <h5 class="font-color_base no_stripe">
              <a href="#">中型云矿机</a>
            </h5>
          </div>
          <div class="service_content">
            <p>
              中型云矿机,租用需要1000枚崟特币，挖矿时间720小时，产量为1300枚崟特币，算力100GH/s
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-sm-30 mb-xs-30">
        <div class="service_box hi-icon-effect-3 hi-icon-effect-3b">
          <div class="service_icon">

            <i class="hi-icon flaticon-nature"></i>
          </div>
          <div class="service_details">
            <h5 class="font-color_base no_stripe">
              <a href="#">大型云矿机</a>
            </h5>
          </div>
          <div class="service_content">
            <p>
              大型云矿机,租用需要10000枚崟特币，挖矿时间720小时，产量为13500枚崟特币，算力1000GH/s
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-xs-30">
        <div class="service_box hi-icon-effect-3 hi-icon-effect-3b">
          <div class="service_icon">

            <i class="hi-icon flaticon-people-2"></i>
          </div>
          <div class="service_details">
            <h5 class="font-color_base no_stripe">
              <a href="#"> 巨型云矿机</a>
            </h5>
          </div>
          <div class="service_content">
            <p>
              巨型云矿机,租用需要50000枚崟特币，挖矿时间720小时，产量为70000枚崟特币，算力5000GH/s
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service_box hi-icon-effect-3 hi-icon-effect-3b">
          <div class="service_icon">

            <i class="hi-icon flaticon-fence"></i>
          </div>
          <div class="service_details">
            <h5 class="font-color_base no_stripe">
              <a href="#"> U型云矿机</a>
            </h5>
          </div>
          <div class="service_content">
            <p>
              U型云矿机，租用需要100000枚崟特币，挖矿时间720小时，产量为130000枚崟特币，算力10000GH/s
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>