{extend name="inc/base"} {block name="content"}
<section class="inner-intro bg-img light-color overlay-before parallax-background">
  <div class="container">
    <div class="row title">
      <h1>投资分析</h1>
    </div>
  </div>
</section>
<div class="faq padding pt-xs-40">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="block-title v-line mb-35">
          <p class="italic"> 【BAT智慧超市标准版】投资成本与回报分析 </p>
          <h3>投资BAT智慧超市成本与回报分析</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-11 offset-1 anim-section mb-30">
        <h3>一、BAT智慧超市的成本</h3>
        <div class="panel-body mt-15">
          <p>1、设备：68000元，分五年折旧，每年设备成本为13600元</p>
          <p>2、电费：以每天工作10小时为例，耗电0.55×10=5.5千瓦时，一年电费为5.5×0.8×365 =2007.5元</p>
          <p>3、流量费用：包年10G的流量卡大约300元</p>
          <p>4、人工费用：按照平均一人管理10台BAT智慧超市计算，月薪5000元，则每台摊费6000元</p>
          <p>5、场地租金：按每台一年20000元计算（每台BAT智慧超市设备仅占地3平方米）</p>
          <p>6、流动资金：10000元</p>
          <p class="lead">一年BAT智慧超市总成本大约为：41907元</p>
        </div>
      </div>
      <div class="col-lg-11 offset-1 anim-section mb-30">
        <h3>二、BAT智慧超市的收益</h3>
        <div class="panel-body mt-15">
          <p>1、每台设备存储货位为220个，每个货位销售产品价格平均为20元，按照每3天周转一次，一年销售总额为（220×20×365）/3=535300元</p>
          <p>2、按照一般零售商品毛利润率30%计算，一年商品销售毛利润为160590元</p>
          <p>3、每台BAT智慧超市设备的利润：160590-41907=118683元</p>
        </div>
      </div>
    </div>
    <!-- Collape Section End Here -->
  </div>

</div>
{/block}